@mixin last-row($count) {
  // Для элементов в последнем ряду, $count - максимальное количество элементов в ряду
  &:nth-child(#{$count}n + 1):nth-last-child(-n + #{$count}),
  &:nth-child(#{$count}n + 1):nth-last-child(-n + #{$count}) ~ & {
    @content;
  }
}

@mixin last-row-with-item($count, $item) {
  &:nth-child(#{$count}n + 1):nth-last-child(-n + #{$count}),
  &:nth-child(#{$count}n + 1):nth-last-child(-n + #{$count}) ~ #{$item} {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin touchDevice {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

@mixin notTouchDevice {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin line-animate-in($color: currentColor) {
  background-size: 0 1px;
  background-position: 100% 100%;
  background-image: linear-gradient($color, $color);
  background-repeat: no-repeat;
  text-decoration: none !important;

  transition-property: background-size, color;
  transition-duration: $timing;
  transition-timing-function: $easing;
  will-change: background-size;

  @include hover {
    background-position: 0 100%;
    background-size: 100% 1px;
  }
}

@mixin line-animate-out($color: currentColor) {
  background-size: 100% 1px;
  background-position: 0 100%;
  background-image: linear-gradient($color, $color);
  background-repeat: no-repeat;
  text-decoration: none !important;

  transition-property: background-size, color;
  transition-duration: $timing;
  transition-timing-function: $easing;
  will-change: background-size;

  @include hover {
    background-position: 100% 100%;
    background-size: 0 1px;
  }
}

@mixin defaultTransition($args...) {
  transition-timing-function: $easing;
  transition-duration: $timing;
  transition-property: $args;
}

@mixin line-clamp($font-size, $line-height, $lines-to-show) {
  display: block;
  display: -webkit-box;
  font-size: rem($font-size);
  max-height: rem($font-size * $line-height * $lines-to-show);
  line-height: $line-height;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines-to-show;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@mixin grid-columns($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  column-gap: rem(16);
  grid-auto-rows: auto;
}
