.header {
  $root: &;
  position: fixed;
  z-index: 102;
  top: 0;
  left: 0;
  width: 100%;

  &__container {
    height: rem(100);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__items {
    display: flex;
    align-items: center;
    gap: rem(16);
  }

  &__link {
    color: $color-black;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: rem(16);
  }
}
