<div class="menu" data-menu>
	<div class="menu__items">
		{% for item in menu.items %}
			<div class="menu__item" data-menu-item>
				<a href="{{ item.href }}" class="menu__link">{{ item.text }}</a>
			</div>
		{% endfor %}

		<button type="button" class="menu__toggle" data-menu-item data-theme-toggle>theme toggle</button>
	</div>
</div>
